ul.bulletless {
    list-style-type: none;
}

.container {
    display: flex;
    flex-direction: row;
    background-color: darkgray;
}

.containerPane {
    display: block;
    width: 42%;
    padding: 10px;
    border: 2px solid gray;
    border-radius: 10px;
}

.paneHeading {
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: white;
}

.allOddsHeading {
    composes: paneHeading;
    background-color: lightsteelblue;
}

.selectedOddsHeading {
    composes: paneHeading;
    background-color: lightgreen;
}